#pochetteMusic {
  width: 200px;
  height: 400px;
}
#articleMusic {
  width:600px;
  height:400px;
}
#sousTitreMusic {
  text-align: center;
}
#conteneur {
  display:flex;
}
.elem {
  margin: auto;
}
