body aside {
  position: absolute;
    width: 200px;
    height: 400px;
    background-color: greenyellow;
}
body article {
  position:relative;
    width:600px;
    height:400px;
    left: 500px;
}
body {
  background-color: black;
  color: white;
}
hr {
}
